@import url("https://fonts.googleapis.com/css?family=Gafata");
:root {
  --detailText: #253434;
  --backgroundDetail: #66958d;
  --backgroundPage: #f8e0d3;
  --homePage: #e09d7a;
  --detailPage: #af4433;
}

html {
  font-size: 100%;
} /*16px*/
a{
color: black;
}
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
  
}
h6{
color: var(--detailPage);
font-weight: bold;
font-size: 2rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 0.9rem;
  min-height: 100vh;
  width: 100%;
  background: white;
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
img {
 width: 100%;
 height: 15vw;
  object-fit: cover;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  /* border-bottom: 1px solid var(--detailPage); */
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid var(--detailPage); */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.card:hover{
background-color: var(--homePage);
color: white;
}
.nav-logo img {
width: 3rem;
height: 3rem;
}
.container {
  max-width: 70em;
  width: 100%;
  margin: 0 auto;
}
#home-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 9rem 3rem;
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--detailPage);
}
#cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.card{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.card:hover{
  background-color: var(--backgroundPage);
  color: white;
  transform: translateY(-9px);
  }
  .card:active{
    transform: translateY(-2px);
    }
#contact-links{
padding-top:3rem;
}
#contact-links button{
  padding: 1.3em 3em;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: #000;
  background-color: var(--backgroundPage);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.card h5{
color: var(--detailText);
font-size: 2rem;
}
#contact-links button:hover{
background-color: var(--backgroundDetail);
color: white;
transform: translateY(-9px);
}
#contact-links button:active{
  transform: translateY(-2px);
  }

#home-bottom-page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: rem 3rem;
}

#button-project {
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}




@media only screen and (max-width: 60rem) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--detailPage);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    display: block;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }


}
