@import url("https://fonts.googleapis.com/css?family=Gafata:400");
:root {
  --colorA: #253434;
  --ColorB: #66958d;
  --backgroundPage: #f8e0d3;
  --homePage: #e09d7a;
  --headerTitle: #af4433;
}
html {
  font-size: 100%;
} /*16px*/

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 0.9rem;
  min-height: 100vh;
  width: 100%;
  background: white;
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--headerTitle);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}


.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--headerTitle);
}

#home-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16rem 3rem;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 3rem;
 
}






@media only screen and (max-width: 60rem) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
   
  }



  .nav-menu.active {
    left: 0;

  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
