@import url("https://fonts.googleapis.com/css?family=Gafata");
:root {
  --detailText: #253434;
  --backgroundDetail: #66958d;
  --backgroundPage: #f8e0d3;
  --homePage: #e09d7a;
  --detailPage: #af4433;


}

html {
  font-size: 100%;
} /*16px*/

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  display: inline-block;
  font-size: 1.777rem;
  margin-right: 1rem;
}

h5 {
  font-size: 1.322rem;
  color: var(--detailText)
}
h6 {
  color: var(--detailPage);
  font-weight: bolder;
  font-size: 3rem;
}

.name-logo {
  color: var(--detailPage);
  font-weight: bolder;
  font-size: 1.5rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 0.9rem;
  min-height: 100vh;
  width: 100%;
  background: white;
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
#image-me{
background-color: #fcf2ec;
padding-top: 0.5rem;
object-fit:fill;
width: 255px;
height: 300px;
border-radius: 50%;
}
#project-images{
object-fit: fill;
width: 350px;
height: 300px;
}

li {
  list-style: none;

}
.active {
  background-color: var(--backgroundPage);
}
a {
  text-decoration: none;
  /* border-bottom: 1px solid var(--detailPage); */
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid var(--detailPage); */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.card:hover {
  background-color: var(--homePage);
  color: white;
}
.nav-logo img {
  width: 3rem;
  height: 3rem;
}
.container {
  max-width: 70em;
  width: 100%;
  margin: 0 auto;
}
#home-page {
  padding: 5rem 3rem;
  color: black;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--backgroundDetail);
}

#home-card{
  display: flex;
  flex-direction: row-reverse;
flex-wrap: wrap;
}
#home-card h4{
margin-top: 0.5rem;

}
#home-card p{
font-size: 1rem;
margin-top: 1rem;
}
#home-card > .image{
  flex: 1 0 0%;
}

#home-card > .text-home{
  flex: 2 0 0%;
  margin:auto 0;
}
#home-card > #image-me{
  vertical-align:top;/* here */
  max-width: 100%;
  max-height: 300px;
}

#contact-links {
  padding-top: 2rem;
}
.get-in-touch button,
#contact-links button {
  padding: 1.3em 3em;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: #000;
  background-color: var(--backgroundPage);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#project-links{
  padding: 1.2em 2em;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: #000;
  background-color: var(--backgroundPage);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}



#contact-links button:hover {
  background-color: var(--backgroundDetail);
  color: white;
  transform: translateY(-9px);
}
#contact-links button:active {
  transform: translateY(-2px);
}

#home-bottom-page {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
width: 100%;
 
}
#home-bottom-page h3{
font-weight: bold;
}
.about-page,
.about-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.about-page a {
  color: black;
  background-color: var(--backgroundPage);
}
.about-page p {
  font-size: 1.5rem;
}

#button-project {
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.column button {
  text-align: center;
  border-radius: 20px;
  padding: 1.2rem 1rem 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #000;
  background-color: var(--homePage);
  border: none;
  cursor: pointer;
}

.home-page-projects{
  margin-top: 1rem;
}

#view-more-text a{ 
  color: #000;
font-size: 1.2rem;
opacity: 0.6;
}

#view-more-text a:hover{
opacity: 1;
border-bottom:  solid 1px;
border-bottom-color: var(--backgroundDetail);
}
.home-page-card{
border-bottom: 1px solid;
border-color:#ffe5dbc4;
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
margin-top: 1rem;
}

.home-page-card > .image-card-project{
  flex: 1 0 0%;
}

.home-page-card > .text-card-project{
  flex: 2 0 0%;
  margin-top: 0.5rem;
}
.home-page-card > #project-images{
  vertical-align:top;/* here */
  max-width: 100%;
  max-height: 300px;
}

.text-card-project h4{
font-size: 2rem;
}
.text-card-project li{
list-style: circle;
}
.home-page-card a{
  display: block;
  margin: auto;
  text-decoration: none;
  color: #000;

}

.home-page-card i{
  color:var(--detailPage);
margin-top: 2rem;
}

.container-home-project {
  position: relative;
  text-align: center;
 margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(128, 121, 110, 0.399),
    0 6px 20px 0 rgba(255, 0, 0, 0);
  animation: glide 2s ease-in-out alternate infinite;

}



.image-home-page {
  object-fit: cover;
  border-radius: 10%;
  opacity: 0.8;
}

.overlay-project {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--backgroundDetail);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 10%;

}

.container-home-project:hover .overlay-project {
  height: 100%;
}

.text-project {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.text-project p{
font-style: italic;
}
.text-project button{
  padding: 1.3em 3em;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  color: white;
  background-color: var(--backgroundPage);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;

}

.text-project a{
color: black;
}



.project-cards h1{
font-size: 3.5rem;
text-align: center;
font-weight: bolder;
color: var(--detailText);
}
.project-cards .column .card {
  border-radius: 40px;
  text-align: center;
}
.project-cards .column .card:hover {
  color: black;
  background-color: whitesmoke;
}

.project-cards button {
  margin-bottom: 1rem;
}
.project-cards button:hover {
  background-color: var(--backgroundPage);
}
.project-cards img {
  border-radius: 40px;
  height: 100%;
  width: 100%;

  border-bottom: 1px solid var(--backgroundDetail);
}

.project-cards img:hover {
  opacity: 0.7;
}

.self-image {
  border-radius: 50%;
  height: 600px;
  width: 400px;
  flex-basis: 70%;
}

@media only screen and (max-width: 60rem) {



 
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--detailPage);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    display: block;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
